In [ ]:
print("Hello World")

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

In [ ]:
import glob

In [ ]:
xl_fns = glob.glob("E*.xlsx")
xl_fns

In [ ]:
df = pd.read_excel(xl_fns[0],index_col=0)

In [ ]:
df.info()

In [ ]:
G = df.groupby(["drug","time"])[["red count"]].mean()

In [ ]:
G.to_excel("Drug_Time_Mean.xlsx")

In [ ]:
uni_drug = df["drug"].unique()

for u in uni_drug:
  print(u)

In [28]:
import os

In [29]:
os.makedirs("Test2")

In [32]:
def split_dataframe(df, column):

  uni = df[column].unique()
  for u in uni:
    df_x = df[df[column] == u]

    out_name = "Test2/" + str(u) + ".xlsx"
    df_x.to_excel(out_name)

In [33]:
split_dataframe(df, "cell line")

In [ ]:
out_name = "Test/" + str(u) + ".xlsx"
df_drug.to_excel(out_name)

In [35]:
xl_fns = glob.glob("Test2/*.xlsx")
xl_fns

['Test2\\bfgf.xlsx', 'Test2\\oSFM.xlsx']

In [38]:
def read_and_combine_dfs(xl_fns):

  df_list = []

  for fn in xl_fns:
    df = pd.read_excel(fn,index_col=0)
    df_list.append(df)

  df_all = pd.concat(df_list)
  return df_all

In [39]:
df_all = read_and_combine_dfs(xl_fns)

In [40]:
df_all

,well,time,drug,cell line,labels,all cell count,mean cell area,confluency,green count,green count(%),red count,red count(%),green area(%),red area(%),brightness,plate_id
3570,I03,0,Positive Control,bfgf,2,1139,31,6,21,1.84,2,0.18,0,0,107.470731,0
3571,I03,1,Positive Control,bfgf,2,508,28,2,14,2.76,9,1.77,0,0,97.217116,0
3572,I03,2,Positive Control,bfgf,2,573,27,2,46,8.03,9,1.57,4,0,97.383997,0
3573,I03,3,Positive Control,bfgf,2,552,28,2,77,13.95,6,1.09,8,0,97.134029,0
3574,I03,4,Positive Control,bfgf,2,583,28,2,117,20.07,4,0.69,11,0,98.503829,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28924,I05,40,Positive Control,oSFM,2,343,33,2,301,87.76,277,80.76,58,20,108.839727,3
28925,I05,41,Positive Control,oSFM,2,355,33,2,302,85.07,263,74.08,55,13,109.263333,3
28926,I05,42,Positive Control,oSFM,2,368,33,2,310,84.24,280,76.09,55,14,110.361021,3
28927,I05,43,Positive Control,oSFM,2,342,32,1,305,89.18,265,77.49,59,16,109.031673,3
28928,I05,44,Positive Control,oSFM,2,367,32,2,323,88.01,279,76.02,57,15,109.983635,3